.backlog-item {
    .backlog-delete {
        display: none;
    }
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    &:hover {
        background-color: #aaaaaa;
        .backlog-delete {
            color: white;
            display: block;
        }
    }
}